version: "3.1"
services:
    caddy:
        image: caddy:alpine
        container_name: proxy
        restart: unless-stopped
        env_file:
            - "./.env"
        ports:
            - 80:80
            - 443:443
            - 443:443/udp
        volumes:
            - ${DATA_DIR}/caddy/data:/data
            - ${DATA_DIR}/caddy/config:/config
            - ./assets/Caddyfile:/etc/caddy/Caddyfile
            - ${DATA_DIR}/caddy/certificate-authority:/data/caddy/pki/authorities/local
        networks:
            - default

    db:
        image: mariadb:latest
        container_name: mariadb
        restart: unless-stopped
        env_file:
            - "./.env"
        environment:
            MARIADB_DATABASE: "${PROD_MARIADB_DATABASE}"
            MARIADB_USER: "${PROD_MARIADB_USER}"
            MARIADB_PASSWORD: "${PROD_MARIADB_PASSWORD}"
            MARIADB_ROOT_PASSWORD: "${PROD_MARIADB_ROOT_PASSWORD}"
        volumes:
            - ${DATA_DIR}/mysql/:/var/lib/mysql/
        networks:
            - default

    phpmyadmin:
        image: phpmyadmin:latest
        container_name: phpmyadmin
        restart: "no"
        ports:
            - 7002:80
        environment:
            - PMA_ARBITRARY=1
        profiles:
            - donotstart

    app:
        build: .
        image: apachephpws
        container_name: app
        environment:
            - HOSTNAME=${HOSTNAME}
        restart: unless-stopped
        env_file:
            - "./.env"
        volumes:
            - ${WEB_DIR}:/var/www/html
        networks:
            - default
networks:
    default:
        external: false
