# Default site (your main app)
{$DOMAIN} {
  {$CADDY_CONFIG_EXTRA}

  # Main reverse proxy
  reverse_proxy h2c://app

  # Protect admin tools
  handle_path /.adm/* {
    basicauth {
      {$PROD_MANAGEMENT_USER} {$PROD_MANAGEMENT_PASSWORD_HASH}
    }
  }
}
