# Default site (your main app)
{$DOMAIN} {
  {$CADDY_CONFIG_EXTRA}

  # Main reverse proxy
  reverse_proxy h2c://app
}

# Adminer (Database management)
{$HOSTNAME}:2053 {
  {$CADDY_CONFIG_EXTRA_TOOLS}

  basic_auth {
      {$MANAGEMENT_USER} {$MANAGEMENT_PASSWORD_HASH}
  }
  reverse_proxy http://dbadmin:8080
}

# File Browser
{$HOSTNAME}:2087 {
  {$CADDY_CONFIG_EXTRA_TOOLS}

  basic_auth {
      {$MANAGEMENT_USER} {$MANAGEMENT_PASSWORD_HASH}
  }
  reverse_proxy http://filemanager:8080
}