# Default site (your main app)
{$DOMAIN} {
  {$CADDY_CONFIG_EXTRA}

  # Main reverse proxy
  reverse_proxy h2c://app

  # File Browser at /adm/filebrowser/
  handle_path /adm/filebrowser/* {
    basicauth {
      {$PROD_MANAGEMENT_USER} {$PROD_MANAGEMENT_PASSWORD_HASH}
    }
    reverse_proxy filebrowser:80
  }

  # phpMyAdmin at /adm/dbadmin/, protected by Basic Auth
  handle_path /adm/dbadmin/* {
    basicauth {
      {$PROD_MANAGEMENT_USER} {$PROD_MANAGEMENT_PASSWORD_HASH}
    }
    reverse_proxy dbadmin:80
  }
}
